.jcarousel-container {
    z-index: 0;
}

.jcarousel-direction-rtl {
    direction: rtl;
}
/*small*/
.carousel-small {
    position: relative;
    margin: 0 auto;
    width: 285px;
}

    .carousel-small ul.jcarousel {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

    .carousel-small li {
        text-align: center;
        float: left;
        padding: 0px;
    }

        .carousel-small li img {
            display: block;
            position: relative;
            margin: 0 auto;
        }

        .carousel-small li.selected {
        }

    .carousel-small .jcarousel-container-horizontal {
        margin: 0 auto;
    }

    .carousel-small .jcarousel-container-vertical {
        width: 75px;
        height: 245px;
        padding: 40px 20px;
    }

    .carousel-small .jcarousel-clip-horizontal {
        width: 280px;
    }

    .carousel-small .jcarousel-item {
        float: left;
        margin-right: 4px;
        width: 60px;
    }

    .carousel-small .jcarousel-direction-rtl .jcarousel-item-horizontal {
        /*margin-left: 10px;*/
    }

    .carousel-small .jcarousel-item-horizontal {
        margin: 0px 0px 0 0px;
        text-align: center;
    }

    .carousel-small .jcarousel-next-horizontal {
        top: 50%;
        margin-top: -11px;
        right: -21px;
        width: 17px;
        height: 22px;
        background-position: -36px -18px;
        z-index: 0;
    }

    .carousel-small .jcarousel-prev-horizontal {
        top: 50%;
        margin-top: -11px;
        left: -17px;
        width: 17px;
        height: 22px;
        background-position: 0px 0px;
        z-index: 0;
    }

    .carousel-small .jcarousel-next-horizontal:hover, .jcarousel-next-horizontal:focus {
        background-position: -24px -18px;
    }

    .carousel-small .jcarousel-next-horizontal:active {
        background-position: -12px -18px;
    }

    .carousel-small .jcarousel-prev-horizontal:hover, .jcarousel-prev-horizontal:focus {
        background-position: -12px 0;
    }

    .carousel-small .jcarousel-prev-horizontal:active {
        background-position: -24px 0;
    }

    .carousel-small .jcarousel-next-disabled-horizontal, .carousel-small .jcarousel-next-disabled-horizontal:hover, .carousel-small .jcarousel-next-disabled-horizontal:focus, .carousel-small .jcarousel-next-disabled-horizontal:active {
        cursor: default;
        background: transparent none;
    }

    .carousel-small .jcarousel-prev-disabled-horizontal, .carousel-small .jcarousel-prev-disabled-horizontal:hover, .carousel-small .jcarousel-prev-disabled-horizontal:focus, .carousel-small .jcarousel-prev-disabled-horizontal:active {
        cursor: default;
        background: transparent none;
    }
/*default*/
.carousel-default {
    border: 0px !important;
}

    .carousel-default.pv-tile {
        margin: 0;
    }

    .carousel-default .pv-item {
        padding: 0px;
    }

    .carousel-default ul.jcarousel-list {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

    .carousel-default .jcarousel-container-horizontal {
        margin: 0 auto;
        width: 880px;
    }

    .carousel-default ul li {
        padding: 0 8px;
    }

    .carousel-default .jcarousel-item {
        float: left;
    }

    .carousel-default .jcarousel-container .jcarousel-next-horizontal {
        top: 95px;
        right: -25px;
        width: 20px;
        height: 35px;
        background-position: -60px -69px;
    }

    .carousel-default .jcarousel-container .jcarousel-prev-horizontal {
        top: 95px;
        left: -30px;
        width: 20px;
        height: 35px;
        background-position: 0px -36px;
    }

    .carousel-default .jcarousel-container .jcarousel-next-horizontal:hover, .jcarousel-next-horizontal:focus {
        background-position: -40px -69px;
    }

    .carousel-default .jcarousel-container .jcarousel-next-horizontal:active {
        background-position: -20px -69px;
    }

    .carousel-default .jcarousel-container .jcarousel-prev-horizontal:hover, .jcarousel-prev-horizontal:focus {
        background-position: -20px -36px;
    }

    .carousel-default .jcarousel-container .jcarousel-prev-horizontal:active {
        background-position: -40px -36px;
    }

    .carousel-default .jcarousel-container .jcarousel-next-disabled-horizontal, .carousel-default .jcarousel-container .jcarousel-next-disabled-horizontal:hover, .carousel-default .jcarousel-container .jcarousel-next-disabled-horizontal:focus, .carousel-default .jcarousel-container .jcarousel-next-disabled-horizontal:active {
        cursor: default;
        background: transparent none;
    }

    .carousel-default .jcarousel-container .jcarousel-prev-disabled-horizontal, .carousel-default .jcarousel-container .jcarousel-prev-disabled-horizontal:hover, .carousel-default .jcarousel-container .jcarousel-prev-disabled-horizontal:focus, .carousel-default .jcarousel-container .jcarousel-prev-disabled-horizontal:active {
        cursor: default;
        background: transparent none;
    }
/**/
.jcarousel-clip {
    overflow: hidden;
}

.jcarousel-clip-vertical {
    width: 75px;
    height: 245px;
}

.jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-next-horizontal, .jcarousel-prev-horizontal {
    position: absolute;
    cursor: pointer;
    background-image: url('../images/controls/carousel/horizontal.png');
    background-repeat: no-repeat;
}

.jcarousel-container .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url('../images/controls/carousel/horizontal.png');
}

.jcarousel-container .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url('../images/controls/carousel/horizontal.png');
}
/**
 *  Vertical Buttons
 */
.jcarousel-container .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

    .jcarousel-container .jcarousel-next-vertical:hover, .jcarousel-next-vertical:focus {
        background-position: 0 -32px;
    }

    .jcarousel-container .jcarousel-next-vertical:active {
        background-position: 0 -64px;
    }

.jcarousel-container .jcarousel-next-disabled-vertical, .jcarousel-next-disabled-vertical:hover, .jcarousel-next-disabled-vertical:focus, .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-container .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

    .jcarousel-container .jcarousel-prev-vertical:hover, .jcarousel-prev-vertical:focus {
        background-position: 0 -32px;
    }

    .jcarousel-container .jcarousel-prev-vertical:active {
        background-position: 0 -64px;
    }

.jcarousel-container .jcarousel-prev-disabled-vertical, .jcarousel-prev-disabled-vertical:hover, .jcarousel-prev-disabled-vertical:focus, .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.carousel-border {
    border: 1px #fff solid;
    padding: 1px 0;
}

li.selected .carousel-border {
    border-color: #ccc;
}
