.header-contact {
    float: none;
    margin-left: 10px;
}
#header .search {
    font-size: 0;
}
#header .search .btn-c {
    top: 1px;
    right: 0px;
}
.center-cell .input-wrap {
    border: 1px #bbbbbb solid;
    border-radius: 2px; 
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px;
    background-image: none;
    background: #fff;
    width: 340px;
    padding-right: 65px;
  
}
.center-cell .search .input-wrap 
{
    height: 23px;
}
.center-cell .btn-search {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-indent: 0;
    width: auto;
    height: 23px;
    font-size: 11px;
    padding: 0 10px;
    vertical-align: top;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0 2px 2px 0;
    background: #7ec700;
    background: -moz-linear-gradient(top, #7ec700 0%, #72bc00 32%, #51a500 82%, #499e00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ec700), color-stop(32%,#72bc00), color-stop(82%,#51a500), color-stop(100%,#499e00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7ec700 0%,#72bc00 32%,#51a500 82%,#499e00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7ec700 0%,#72bc00 32%,#51a500 82%,#499e00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7ec700 0%,#72bc00 32%,#51a500 82%,#499e00 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7ec700 0%,#72bc00 32%,#51a500 82%,#499e00 100%); /* W3C */
    -pie-background: linear-gradient(#7EC700, #499e00); /* ie6-ie9 */
    line-height: 25px;
}
.center-cell .btn-search:hover
{
    background: #469c00; /* Old browsers */
    background: -moz-linear-gradient(top, #469c00 0%, #51a500 27%, #72bc00 77%, #7bc500 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#469c00), color-stop(27%,#51a500), color-stop(77%,#72bc00), color-stop(100%,#7bc500)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #469c00 0%,#51a500 27%,#72bc00 77%,#7bc500 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #469c00 0%,#51a500 27%,#72bc00 77%,#7bc500 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #469c00 0%,#51a500 27%,#72bc00 77%,#7bc500 100%); /* IE10+ */
    background: linear-gradient(to bottom, #469c00 0%,#51a500 27%,#72bc00 77%,#7bc500 100%); /* W3C */
    -pie-background: linear-gradient(#469c00,#7bc500); /* ie6-ie9 */
}
.center-cell .btn-search:active
{
    background: #68a500; /* Old browsers */
    background: -moz-linear-gradient(top, #68a500 0%, #72b600 5%, #7ac000 9%, #79c300 14%, #72bc00 32%, #479d00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#68a500), color-stop(5%,#72b600), color-stop(9%,#7ac000), color-stop(14%,#79c300), color-stop(32%,#72bc00), color-stop(100%,#479d00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #68a500 0%,#72b600 5%,#7ac000 9%,#79c300 14%,#72bc00 32%,#479d00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #68a500 0%,#72b600 5%,#7ac000 9%,#79c300 14%,#72bc00 32%,#479d00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #68a500 0%,#72b600 5%,#7ac000 9%,#79c300 14%,#72bc00 32%,#479d00 100%); /* IE10+ */
    background: linear-gradient(to bottom, #68a500 0%,#72b600 5%,#7ac000 9%,#79c300 14%,#72bc00 32%,#479d00 100%); /* W3C */
    -pie-background: linear-gradient(#68a500,#479d00); /* ie6-ie9 */
}
.catalog-menu-items > .item .lnk-item:hover, .catalog-menu-items > .item:hover .lnk-item
{
    background: #477ea7;
}
.catalog-menu-root
{
    position: relative;
    list-style: none;
    padding: 0;
    margin: 1px 0 0 1px;
}
.catalog-menu-root > li {
    position: relative;
}
.catalog-menu-root .categories-root
{
    position: relative;
    display: block;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    height: 40px;
    line-height: 42px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 0 25px 0 10px;
    font-weight: bold;
}
.catalog-menu-root .categories-root:hover
{
    text-decoration: none;
}
.catalog-menu-root .categories-root:after
{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 10px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid transparent;
}
.catalog-menu-root > li
{
    margin: 0;
    padding: 0;
}
.catalog-menu-items
{
    list-style: none;
    padding: 0;
    margin: 0 0 15px;
    border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    min-width: 190px;
}
.catalog-menu-items > .item
{
    margin: 0;
    padding: 0;
    position: relative;
    z-index:10;
}
.catalog-menu-items > .item .lnk-item
{
    border-top: 1px transparent dotted;
    padding: 10px 25px 10px 11px;
    display: block;
    position: relative;
    font-weight: bold;
}
.catalog-menu-items > .item .lnk-item
{
    text-decoration: none;
}
.catalog-menu-items > .item .lnk-item:hover, .catalog-menu-items > .item:hover .lnk-item
{
    text-decoration: none;
}
.catalog-menu-items > .item:first-child .lnk-item
{
    border-top: 1px transparent dotted;
    border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
}
.catalog-menu-items .parent:after
{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 10px;
    color: #fff;
    border-top: 5px solid transparent;
    border-left: 5px solid #2d2d2d;
    border-bottom: 5px solid transparent;
}
/*
.catalog-menu-items .parent:hover:after {
      border-left: 5px solid #2d2d2d;  
}*/
.catalog-menu-items .tree-submenu
{
    left: 100%;
    top: 0;
    background: #477ea7;
}
.catalog-menu-items .item:hover .tree-submenu
{
    display: block;
}
.catalog-menu-root .catalog-menu-items
{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10000;
}
.catalog-menu-root:hover .catalog-menu-items
{
    display: block;
}
.col-left-padding {
    padding-top: 5px;
}
.static-temp {
    text-align: center;
    margin-bottom: 15px;
}
.flexslider
{
    min-height: 283px;
 }
.tree-submenu .tree-submenu-category, 
.tree-submenu .tree-submenu-brand {
    display:inline-block;
}