<?xml version="1.0"?>
<log4net>
  <appender name="CsvErr404FileAppender" type="log4net.Appender.RollingFileAppender">
    <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="App_Data\errlog\LogErr404.csv"/>
    <appendToFile value="true" />
    <encoding value="utf-8" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="100KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{d/M/yyyy H:mm:ss.fff};%-5level;%message%newline" />
    </layout>
    <!--<layout type="AdvantShop.Diagnostics.CsvPatternLayout">
      <conversionPattern value="%date{d/M/yyyy H:mm:ss.fff}%newfield%level%newfield%message%newfield%exception%endrow" />
    </layout>-->
  </appender>

  <appender name="CsvErr500FileAppender" type="log4net.Appender.RollingFileAppender">
    <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="App_Data\errlog\LogErr500.csv"/>
    <appendToFile value="true" />
    <encoding value="utf-8" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="100KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{d/M/yyyy H:mm:ss.fff};%-5level;%message%newline" />
    </layout>
    <!--<layout type="AdvantShop.Diagnostics.CsvPatternLayout">
      <conversionPattern value="%date{d/M/yyyy H:mm:ss.fff}%newfield%level%newfield%stacktrace{10}%newfield%stacktracedetail{10}%newfield%message%newfield%exception%endrow" />
    </layout>-->
  </appender>

  <appender name="XmlErr500FileAppender" type="log4net.Appender.RollingFileAppender">
    <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="App_Data\errlog\LogErr500.xml"/>
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="500KB" />
    <staticLogFileName value="true" />
    <layout type="AdvantShop.Diagnostics.Log4netXmlLayout">
    </layout>
  </appender>

  <appender name="CsvErrHttpFileAppender" type="log4net.Appender.RollingFileAppender">
    <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="App_Data\errlog\LogErrHttp.csv"/>
    <appendToFile value="true" />
    <encoding value="utf-8" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="100KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{d/M/yyyy H:mm:ss.fff};%-5level;%message%newline" />
    </layout>
    <!--<layout type="AdvantShop.Diagnostics.CsvPatternLayout">
      <conversionPattern value="%date{d/M/yyyy H:mm:ss.fff}%newfield%level%newfield%stacktrace{10}%newfield%stacktracedetail{10}%newfield%message%newfield%exception%endrow" />
    </layout>-->
  </appender>

  <!--<appender name="Log_Err404Appender" type="log4net.Appender.RollingFileAppender">
    <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="App_Data\errlog\LogErr404.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="100KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <IgnoresException value="False" />
      <conversionPattern value="%date ; [%thread] ;  %-5level ; %logger ; %message ; %exception %newline" />
    </layout>
  </appender>-->

  <appender name="EmailAppender" type="AdvantShop.Diagnostics.HtmlSmtpAppender">
    <to value="vladimir@advantshop.net" />
    <from value="error.advantshop.net@mail.ru" />
    <subject value="Production log event" />
    <smtpHost value="smtp.mail.ru" />
    <authentication value="Basic" />
    <port value="25" />
    <username value="error.advantshop.net" />
    <password value="asdqweasdqwe" />
    <bufferSize value="1" />
    <EnableSsl value="true"/>
    <lossy value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date [%thread] %-5level %logger %message%newline%exception" />
    </layout>
  </appender>

  <logger name="LogErr404" >
    <level value="ALL"/>
    <appender-ref ref="CsvErr404FileAppender" />
  </logger>
  <logger name="LogErr500" >
    <level value="ALL"/>
    <appender-ref ref="CsvErr500FileAppender" />
  </logger>
  <logger name="LogErrHttp" >
    <level value="ALL"/>
    <appender-ref ref="CsvErrHttpFileAppender" />
  </logger>
  <logger name="EmailErr" >
    <level value="ALL"/>
    <appender-ref ref="EmailAppender" />
  </logger>
</log4net>