<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="TasksConfig" type="AdvantShop.Core.TasksConfig, App_Code.AdvantShop.Core.TasksConfig" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="PublicVersion" value="ver 4.1.13 Build 5439"/>
    <add key="Version" value="4.1.13"/>
    <add key="DB_Version" value="4.1.13"/>
    <add key="EnableErrorMailNotification" value="true"/>
    <add key="MaxMailsSendPerDay" value="1"/>
    <add key="BackupPhotosBeforeDeleting" value="true"/>
    <add key="FedExRateServiceWebReference.RateServiceDefinitions" value="https://wsbeta.fedex.com/web-services/rate"/>
    <add key="UPSRateServiceWebReference.RateWS" value="https://wwwcie.ups.com/webservices/Rate"/>
    <add key="CBR.DailyInfo" value="http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx"/>
    <add key="EnableCompressContent" value="false"/>
  </appSettings>
  <connectionStrings configSource="Web.ConnectionString.config"/>
  <system.web>
    <!-- .......... Session Block .......... -->
    <sessionState mode="InProc" timeout="20"/>
    <!-- .......... HttpRuntime Block .......... -->
    <httpRuntime executionTimeout="3600" maxRequestLength="1024000000" requestValidationMode="2.0" maxQueryStringLength="2097151"/>
    <!-- .......... CustomErrors Block .......... -->
    <customErrors mode="Off" redirectMode="ResponseRewrite" defaultRedirect="~/info/error.htm">
      <error statusCode="404" redirect="~/err404.aspx"/>
      <error statusCode="400" redirect="~/err404.aspx"/>
      <error statusCode="500" redirect="~/err500.aspx"/>
    </customErrors>
    <!-- .......... Compilation Block .......... -->
    <compilation debug="true" batch="true" numRecompilesBeforeAppRestart="5" targetFramework="4.0"/>
    <httpModules>
      <add name="HttpUrlRewrite" type="AdvantShop.Core.UrlRewriter.HttpUrlRewrite"/>
      <add name="HttpTemplatesRewrite" type="AdvantShop.Core.UrlRewriter.HttpTemplatesRewrite"/>
      <add name="CompressContent" type="AdvantShop.Core.Compress.CompressContent"/>
    </httpModules>
    <pages clientIDMode="AutoID" enableSessionState="true" validateRequest="false" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
        <add tagPrefix="adv" namespace="AdvantShop.Controls"/>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
      </controls>
    </pages>
    <!-- .......... Authentication Block .......... -->
    <authentication mode="Forms">
      <forms name="Advantshop.AUTH" loginUrl="~/default.aspx" protection="All" timeout="129600"/>
    </authentication>
    <!-- .......... Globalization Block .......... -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="windows-1251" responseHeaderEncoding="utf-8" culture="ru-RU" uiCulture="ru-RU"/>
    <!-- .......... MachineKey Block .......... -->
    <machineKey validationKey="EACEB44EBD5F92AC240E6A24801316523E13B6563A32B8E8CA57B09A3586C1AA726CD22872874E040649DECE968509BCEB4E5E507EAC02F4C7BFE0898395FC37" decryptionKey="80E1EBE81E944D4F3CF7CF95082C2B0D8D3674FB19A0A3CC" validation="SHA1"/>
    <httpHandlers/>
    <!-- .......... TrustLevel Block ....uncomment.if.needed.... -->
    <!--<trust level="Full" />
        <securityPolicy>
            <trustLevel name="Full" policyFile="internal"/>
        </securityPolicy>-->
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Remove WWW" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{CACHE_URL}" pattern="*://www.*" />
          </conditions>
          <action type="Redirect" url="{C:1}://{C:2}" redirectType="Permanent" />
        </rule>
        <rule name="Remove trailing slash" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1024000000"/>
      </requestFiltering>
    </security>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="8.00:00:00"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
	  <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
      <remove fileExtension=".tpl"/>
      <mimeMap fileExtension=".tpl" mimeType="text/html"/>
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/octet-stream"/>
      <remove fileExtension=".yml"/>
      <mimeMap fileExtension=".yml" mimeType="text/xml"/>
    </staticContent>
    <urlCompression doDynamicCompression="false" doStaticCompression="false" dynamicCompressionBeforeCache="true"/>
    <modules>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
      <add name="HttpUrlRewrite" type="AdvantShop.Core.UrlRewriter.HttpUrlRewrite"/>
      <add name="HttpTemplatesRewrite" type="AdvantShop.Core.UrlRewriter.HttpTemplatesRewrite"/>
      <add name="CompressContent" type="AdvantShop.Core.Compress.CompressContent"/>
      <!--<add name="UnhandledExceptionModule" type="AdvantShop.Core.UnhandledExceptionModule"/>-->
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers/>
    <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="400" subStatusCode="-1"/>
      <error statusCode="404" path="/err404.aspx" responseMode="ExecuteURL"/>
      <error statusCode="400" path="/err400.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=edge, chrome=1"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSGetOrdersSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="WSGetRemainsSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="WSGetOrdersSoap12Binding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true"/>
        </binding>
        <binding name="WSGetRemainsSoap12Binding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://cc.ritm-z.com:8008/RitmZ_GM82/ws/GetOrders.1cws" binding="basicHttpBinding" bindingConfiguration="WSGetOrdersSoapBinding" contract="RitmZOrders.WSGetOrdersPortType" name="WSGetOrdersSoap"/>
      <endpoint address="http://cc.ritm-z.com:8008/RitmZ_GM82/ws/GetOrders.1cws" binding="customBinding" bindingConfiguration="WSGetOrdersSoap12Binding" contract="RitmZOrders.WSGetOrdersPortType" name="WSGetOrdersSoap12"/>
      <endpoint address="http://cc.ritm-z.com:8008/RitmZ_GM82/ws/GetRemains.1cws" binding="basicHttpBinding" bindingConfiguration="WSGetRemainsSoapBinding" contract="RitmzRemains.WSGetRemainsPortType" name="WSGetRemainsSoap"/>
      <endpoint address="http://cc.ritm-z.com:8008/RitmZ_GM82/ws/GetRemains.1cws" binding="customBinding" bindingConfiguration="WSGetRemainsSoap12Binding" contract="RitmzRemains.WSGetRemainsPortType" name="WSGetRemainsSoap12"/>
    </client>
  </system.serviceModel>
  <TasksConfig>
    <Task name="JobBeAlive" type="AdvantShop.Core.Scheduler.JobBeAlive" enabled="true" cronExpression="0 0/1 * * * ?" url="/httphandlers/keepalive.ashx"/>
    <Task name="ClearExpiredJob" type="AdvantShop.Core.Scheduler.ClearExpiredJob" enabled="true" cronExpression="0 59 0 1/1 * ?"/>
    <Task name="UpdateCurrencyJob" type="AdvantShop.Core.Scheduler.UpdateCurrencyJob" enabled="true" cronExpression="0 10 3 1/1 * ?"/>
    <Task name="ReindexJob" type="AdvantShop.Core.Scheduler.ReindexJob" enabled="true" cronExpression="0 0 1 ? * MON"/>
  </TasksConfig>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="300000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>