<?xml version="1.0"?>

<connectionStrings>

  <!--Example For WebServer machine (login and pass) -->
  <!--	
<add name="AdvantConnectionString"
      connectionString="Data Source='(local)\SQLEXPRESS'; Connect Timeout='60'; Initial Catalog='toycorp'; Persist Security Info='True'; User ID='timofei'; Password='123';"
      providerName="System.Data.SqlClient" />
-->
  <!-- <add name="AdvantConnectionString" connectionString="server=srvprj\mssql2012;database=toycorp;user id=unicotmpluser;password=123" providerName="System.Data.SqlClient" /> -->
  <!--<add name="AdvantConnectionString" connectionString="server=.\SQL2014;database=toycorp;user id=toycorpuser;password=9LMAx9bMt58P" providerName="System.Data.SqlClient" />-->
  <!--<add name="AdvantConnectionString" connectionString="Data Source=37-ПК\SQLEXPRESS2014;Initial Catalog='toycorp'; user id=dbuser;password=321519" providerName="System.Data.SqlClient" />-->

 <!--<add name="AdvantConnectionString"
connectionString="Data Source='37-ПК\SQLEXPRESS2014'; Connect Timeout='5'; Initial Catalog='toycorp'; User Id='dbuser';Password=321519"
providerName="System.Data.SqlClient" />-->


  <add name="AdvantConnectionString"
 connectionString="Data Source='DESKTOP-6QDGIPF'; Connect Timeout='5'; Initial Catalog='toycorp'; User Id='toycorpuser';Password=321519"
 providerName="System.Data.SqlClient" />




  <!--Example For local machine (Integrated Security) -->
  <!--<add name="AdvantConnectionString"
      connectionString="Data Source='MyServerName1'; Connect Timeout='5'; Initial Catalog='MyDBName1'; Integrated Security='True';"
      providerName="System.Data.SqlClient" />-->

</connectionStrings>

