.compareproduct-container {
    position: relative;
    background-color: #FFF;
}

.compareproduct-properties-col,
.compareproduct-products-col {
    float: right;
}

.compareproduct-properties-col {
    width: 190px;
}

.compareproduct-products-col {
    width: 749px;
}

.compareproduct-products-wrapper {
    display: block;
    overflow-x: auto;
    font-size: 0;
    line-height: 0;
    margin-bottom: 15px;
}


    .compareproduct-products-wrapper::-webkit-scrollbar {
        -webkit-appearance: none;
    }

        .compareproduct-products-wrapper::-webkit-scrollbar:vertical {
            width: 11px;
        }

        .compareproduct-products-wrapper::-webkit-scrollbar:horizontal {
            height: 11px;
        }

    .compareproduct-products-wrapper::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white; /* should match background, can't be transparent */
        background-color: rgba(0, 0, 0, .5);
    }

    .compareproduct-products-wrapper::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 8px;
    }


.compareproduct-product,
.compareproduct-properties {
    padding: 0;
    margin: 0;
    list-style: none;
    display: table;
    vertical-align: top;
    font-size: 12px;
    border-collapse: collapse;
    border: 1px solid #DBDBDB;
}

.compareproduct-properties {
    width: 100%;
}

.compareproduct-product {
    table-layout: fixed;
}

.compareproduct-product-row,
.compareproduct-properties-row {
    display: table-row;
}

.compareproduct-product-item,
.compareproduct-properties-item {
    display: table-cell;
    padding: 10px 15px;
    border: 1px solid #dbdbdb;
    border-collapse: collapse;
    text-align: left;
    line-height: 1;
}

.compareproduct-properties-item {
    vertical-align: middle;
}

.compareproduct-product-item {
    text-align: center;
    width: 149px;
    min-width: 149px;
    vertical-align: top;
}

    .compareproduct-product-item:first-child {
        border-width: 1px 1px 1px 0;
    }

.compareproduct-block-item-hover {
    background: #f7fbfe;
}

.compareproduct-product-name {
    position: relative;
    text-align: center;
    margin-bottom: 5px;
    line-height: 1.2;
    min-height: 30px;
}

.compareproduct-product-name-link {
}

.compareproduct-product-sku {
    text-align: center;
    color: #A5A8AF;
    margin-bottom: 5px;
}

.compareproduct-product-pic {
    max-height: 100%;
    max-width: 100%;
}

.compareproduct-product-pic-wrap {
    text-align: center;
    margin-bottom: 5px;
    white-space: nowrap;
}

    .compareproduct-product-pic-wrap:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
    }

.compare-link-picture {
    display: inline-block;
    vertical-align: middle;
}

.compareproduct-product-btns {
    text-align: center;
}

.compareproduct-product-item-wrap {
    position: relative;
}

.compareproduct-container-processing {
    position: relative;
}

    .compareproduct-container-processing:after {
        content: "";
        background: #fff url(../../images/ajax-loader.gif) no-repeat center center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
    }

.compareproduct-product-remove {
    position: absolute;
    top: -11px;
    right: -15px;
    background: url(../../images/cross.png) no-repeat center center;
    height: 15px;
    width: 15px;
    overflow: hidden;
    text-indent: 100%;
}

.compare-picture {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.compareproduct-empty {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    display: none;
}
