.details-delivery-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: table;
    width: 100%;
}

.details-delivery-row {
    padding: 0;
    margin: 0;
    display: table-row;
}

.details-block-aside {
    background: #f7f7f7;
    border-radius: 3px;
    margin-bottom: 15px;
}

.details-block-aside-row-single {
    padding: 15px;
    border-bottom: 1px #e9e9e9 solid;
    font-size: 11px;
}

.p-bonuses {
    color: #7d7d7d;
    margin-bottom: 5px;
    position: relative;
    line-height: 1;
}

    .p-bonuses:before {
        content: "";
        background: url(../../../../../images/arrow-bottom-italic.gif) no-repeat;
        width: 9px;
        height: 17px;
        display: block;
        position: absolute;
        right: 100%;
        bottom: 100%;
        margin-right:5px;
    }

.details-delivery-calc {
    padding: 15px;
}

/*Доработки Марат*/
.details-delivery-name {
    padding: 0 5px 15px 15px;
}

.details-delivery-cost {
    padding: 0 0 15px 0;
    width: 70px;
    display:inline-block;
}

.details-delivery-name,
.details-delivery-cost {
    vertical-align: top;
    text-align: left;
}

.details-delivery-place {
    font-size: 14px;
    padding: 0 15px 15px 10px;
    font-family: 'exo-bold';
}
