body {
	background: transparent url('../images/footer-bg.jpg') repeat-x scroll center bottom;
}
.container > .footer {
    background: url(../images/footer.png) no-repeat scroll left bottom;
    padding-bottom:150px;
    margin-bottom: 10px;
}
#theme-container {
	background: transparent url('../images/bg.jpg') no-repeat scroll center top;
	height: 656px;
}
.shadow-split {
	background: transparent url('../images/shadown.png') no-repeat scroll center top;
	border: 0px;
	height: 85px;
    width: 970px;
}

