<?xml version="1.0" ?>
<advantshop>
  <localization>
    <lang value="ru-RU" />
  </localization>
  <!-- === Payments ========================================== -->
  <payments>
    <payment name="Cash" enabled="True" localizename="Наличные"/>
    <payment name="SberBank" enabled="True" localizename="Квитанция Сбербанка"/>
    <payment name="Bill" enabled="True" localizename="Счет на оплату"/>

    <payment name="WalletOneCheckout" enabled="True" localizename="Единая касса"/>
    <payment name="Robokassa" enabled="True" localizename="Robokassa"/>
    <payment name="YandexMoney" enabled="False" localizename="Яндекс.Деньги"/>
    <payment name="YandexKassa" enabled="True" localizename="Яндекс.Касса"/>
    <payment name="PayAnyWay" enabled="True" localizename="PayAnyWay (Moneta.ru)"/>
    <payment name="WebMoney" enabled="True" localizename="WebMoney"/>
    <payment name="MailRu" enabled="True" localizename="Mail.ru"/>
    <payment name="AuthorizeNet" enabled="True" localizename="AuthorizeNet"/>
    <payment name="GoogleCheckout" enabled="True" localizename="GoogleCheckout"/>
    <payment name="eWAY" enabled="True" localizename="eWAY"/>
    <payment name="Check" enabled="True" localizename="Check"/>
    <payment name="PayPal" enabled="False" localizename="PayPal"/>
    <payment name="PayPalExpressCheckout" enabled="True" localizename="PayPal Express Checkout"/>
    <payment name="TwoCheckout" enabled="True" localizename="TwoCheckout"/>
    <payment name="Alfabank" enabled="True" localizename="Альфа Банк (MyPayments)"/>
    <payment name="Assist" enabled="True" localizename="Assist"/>
    <payment name="ZPayment" enabled="True" localizename="ZPayment"/>
    <payment name="Platron" enabled="True" localizename="Platron"/>
    <payment name="Rbkmoney" enabled="True" localizename="Rbkmoney"/>
    <payment name="CyberPlat" enabled="False" localizename="CyberPlat"/>
    <payment name="Moneybookers" enabled="True" localizename="Moneybookers"/>
    <payment name="AmazonSimplePay" enabled="True" localizename="AmazonSimplePay"/>

    <payment name="CashOnDelivery" enabled="True" localizename="Оплата при получении"/>
    <payment name="PickPoint" enabled="True" localizename="PickPoint"/>

    <payment name="ChronoPay" enabled="True" localizename="ChronoPay"/>
    <payment name="PayOnline" enabled="True" localizename="PayOnline"/>
    <payment name="QIWI" enabled="True" localizename="QIWI"/>
    <payment name="PSIGate" enabled="True" localizename="PSIGate"/>
    <payment name="PayPoint" enabled="True" localizename="PayPoint"/>
    <payment name="SagePay" enabled="True" localizename="SagePay"/>
    <payment name="WorldPay" enabled="True" localizename="WorldPay"/>
    <payment name="OnPay" enabled="True" localizename="OnPay"/>

    <payment name="MoscowBank" enabled="True" localizename="Банк Москвы"/>
    <payment name="GateLine" enabled="True" localizename="GateLine.Net"/>

    <payment name="Interkassa" enabled="True" localizename="Interkassa"/>
    <payment name="Interkassa2" enabled="True" localizename="Interkassa 2.0"/>
    <payment name="LiqPay" enabled="True" localizename="LiqPay"/>
    <payment name="BillUa" enabled="True" localizename="Счет укр банка"/>
    <payment name="Kupivkredit" enabled="True" localizename="КупиВкредит"/>
    <payment name="YesCredit" enabled="True" localizename="YesCredit"/>
    <payment name="Qppi" enabled="True" localizename="Куппи.ру"/>
    <payment name="BitPay" enabled="True" localizename="BitPay"/>
    <payment name="IntellectMoneyMainProtocol" enabled="True" localizename="IntellectMoney основной протокол"/>
    <payment name="IntellectMoney" enabled="True" localizename="IntellectMoney протокол WEB Money"/>

    <payment name="Dibs" enabled="True" localizename="Dibs"/>
    <payment name="Avangard" enabled="True" localizename="Авангард"/>
    <payment name="Rsb" enabled="True" localizename="Русский стандарт"/>
    <payment name="RsbCredit" enabled="True" localizename="Русский Стандарт Банк (В кредит)"/>
    <payment name="DirectCredit" enabled="True" localizename="Директ Кредит"/>
    <payment name="MoneXy" enabled="True" localizename="MoneXy"/>
    <payment name="NetPay" enabled="True" localizename="NetPay"/>
    <payment name="AlfabankUa" enabled="True" localizename="Альфабанк-Банк Украина (В кредит)"/>

    <payment name="GiftCertificate" enabled="True" localizename="Подарочный сертификат"/>
  </payments>
  <!-- === Shippings ========================================== -->
  <shippings>
    <shipping name="FreeShipping" enabled="True"  localizename="Бесплатная доставка"/>
    <shipping name="FixedRate" enabled="True"  localizename="Фиксированная доставка"/>
    <shipping name="ShippingByWeight" enabled="True"  localizename="Доставка в зависимости от веса"/>
    <shipping name="eDost" enabled="True"  localizename="eDost"/>
    <shipping name="ShippingByShippingCost" enabled="True" localizename="Доставка в зависимости от стоимости доставки товара"/>
    <shipping name="ShippingByOrderPrice" enabled="True"  localizename="Доставка в зависимости от стоимости заказа"/>
    <shipping name="ShippingByRangeWeightAndDistance" enabled="True"  localizename="Доставка в зависимости от веса и расстояния"/>
    <shipping name="ShippingNovaPoshta" enabled="True"  localizename="Новая Почта (Украина)"/>
    <shipping name="SelfDelivery" enabled="True"  localizename="Самовывоз"/>
    <shipping name="Multiship" enabled="True"  localizename="MultiShip (Яндекс)"/>
    <shipping name="Cdek" enabled="True"  localizename="СДЭК"/>
    <shipping name="ShippingByProductAmount" enabled="True"  localizename="Доставка в зависимости от количества товаров"/>
    <shipping name="ShippingByEmsPost" enabled="True"  localizename="EMS Почта России"/>
    <shipping name="CheckoutRu" enabled="True"  localizename="Сервис Checkout.ru"/>
  </shippings>
  <commonsettings>
    <setting name="banksettings" enabled="True"/>
  </commonsettings>
  <authproviders>
    <provider name="yandex" enabled="True"/>
    <provider name="google" enabled="True"/>
    <provider name="mail.ru" enabled="True"/>
    <provider name="vkontakte" enabled="True"/>
    <provider name="twitter" enabled="True"/>
    <provider name="facebook" enabled="True"/>
    <provider name="odnoklassniki" enabled="True"/>
  </authproviders>
</advantshop>

