<?xml version="1.0" ?>
<advantshop>
    <localization>
		<lang value="en-US" />
	</localization>
    <!-- === Payments ========================================== -->
    <payments>
        <payment name="PayPal" enabled="True" localizename="PayPal"/>
        <payment name="Check" enabled="True" localizename="Check"/>
        <payment name="Cash" enabled="True" localizename="Cash"/>
        <payment name="AuthorizeNet" enabled="True" localizename="AuthorizeNet"/>
        <payment name="GoogleCheckout" enabled="True" localizename="GoogleCheckout"/>
        
        <payment name="eWAY" enabled="True" localizename="eWAY"/>
        <payment name="TwoCheckout" enabled="True" localizename="TwoCheckout"/>
        <payment name="Assist" enabled="True" localizename="Assist"/>
        <payment name="Moneybookers" enabled="True" localizename="Moneybookers"/>
        <payment name="AmazonSimplePay" enabled="True" localizename="AmazonSimplePay"/>

        <payment name="PSIGate" enabled="True" localizename="PSIGate"/>
        <payment name="PayPoint" enabled="True" localizename="PayPoint"/>
        <payment name="SagePay" enabled="True" localizename="SagePay"/>
        <payment name="WorldPay" enabled="True" localizename="WorldPay"/>

        <payment name="BitPay" enabled="True" localizename="BitPay"/>
        <payment name="Dibs" enabled="True" localizename="Dibs"/>
        <payment name="NetPay" enabled="True" localizename="NetPay"/>
      
        <payment name="GiftCertificate" enabled="True" localizename="Gift certificate"/>
    </payments>
    <!-- === Shippings ========================================== -->
    <shippings>
        <shipping name="FreeShipping" enabled="True"  localizename="Free shipping"/>
        <shipping name="FixedRate" enabled="True"  localizename="Fixed rate shipping"/>
        <shipping name="ShippingByWeight" enabled="True"  localizename="Shipping by weight"/>
        <shipping name="ShippingByShippingCost" enabled="True" localizename="Shipping by shipping cost"/>
        <shipping name="ShippingByOrderPrice" enabled="True"  localizename="Shipping by order price"/>
	    <shipping name="ShippingByRangeWeightAndDistance" enabled="True"  localizename="Shipping by weight and distance"/>
        <shipping name="SelfDelivery" enabled="True"  localizename="Self delivery"/>
        <shipping name="ShippingByProductAmount" enabled="True"  localizename="Shipping by products amount"/>
    </shippings>
    <commonsettings>
        <setting name="banksettings" enabled="False"/>
    </commonsettings>
    <authproviders>
        <provider name="google" enabled="True"/>
        <provider name="twitter" enabled="True"/>
        <provider name="facebook" enabled="True"/>
    </authproviders>
</advantshop>

