<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <!-- Дизайн и представление -->
  <SettingSection Title="SectionDesign">
    <Setting Name="MainPageMode" Type="DropDownList">
      <option Title="MainPageModeDefault" Value="Default" />
      <option Title="MainPageModeTwoColumns" Value="TwoColumns" />
      <option Title="MainPageModeThreeColumns" Value="ThreeColumns" />
      <Value>Default</Value>
    </Setting>
    <Setting Name="SearchBlockLocation" Type="DropDownList">
      <option Title="SearchNone" Value="None" />
      <option Title="SearchTopMenu" Value="TopMenu" />
      <option Title="SearchCatalogMenu" Value="CatalogMenu" />
      <Value>TopMenu</Value>
    </Setting>
  </SettingSection>
  <!-- Карусель -->
  <SettingSection Title="SectionCarousel">
    <Setting Name="CarouselVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="CarouselAnimation" Type="DropDownList">
      <option Title="fade" Value="fade" />
      <option Title="slide" Value="slide" />
      <Value>fade</Value>
    </Setting>
    <Setting Name="CarouselAnimationSpeed" Type="TextBox">
      <Value>500</Value>
    </Setting>
    <Setting Name="CarouselAnimationDelay" Type="TextBox">
      <Value>10000</Value>
    </Setting>
  </SettingSection>
  <!-- Товары на главной -->
  <SettingSection Title="SectionMainPageProcuts">
    <Setting Name="MainPageProductsVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="CountProductInLine" Type="TextBox">
      <Value>10</Value>
    </Setting>
  </SettingSection>
  <!-- Отображать -->
  <SettingSection Title="SectionView">
    <Setting Name="RecentlyViewVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="NewsVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="NewsSubscriptionVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="CheckOrderVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="VotingVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="CurrencyVisibility" Type="Checkbox">
      <Value>False</Value>
    </Setting>
    <Setting Name="FilterVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="GiftSertificateVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="WishListVisibility" Type="Checkbox">
      <Value>False</Value>
    </Setting>
    <Setting Name="EnableSocialShareButtons" Type="Checkbox">
      <Value>True</Value>
    </Setting>
  </SettingSection>
  <!-- Лого производителя -->
  <SettingSection Title="SectionBrandLogo">
    <Setting Title="Width" Name="BrandLogoWidth" Type="TextBox">
      <Value>100</Value>
    </Setting>
    <Setting Title="Height" Name="BrandLogoHeight" Type="TextBox">
      <Value>80</Value>
    </Setting>
  </SettingSection>
  <!-- Продукт.Большая фотография -->
  <SettingSection Title="SectionBigProductImages">
    <Setting Title="Width" Name="BigProductImageWidth" Type="TextBox">
      <Value>1000</Value>
    </Setting>
    <Setting Title="Height" Name="BigProductImageHeight" Type="TextBox">
      <Value>1000</Value>
    </Setting>
  </SettingSection>
  <!-- Продукт.Средняя фотография -->
  <SettingSection Title="SectionMiddleProductImages">
    <Setting Title="Width" Name="MiddleProductImageWidth" Type="TextBox">
      <Value>580</Value>
    </Setting>
    <Setting Title="Height" Name="MiddleProductImageHeight" Type="TextBox">
      <Value>580</Value>
    </Setting>
  </SettingSection>
  <!-- Продукт.Маленькая фотография -->
  <SettingSection Title="SectionSmallProductImages">
    <Setting Title="Width" Name="SmallProductImageWidth" Type="TextBox">
      <Value>277</Value>
    </Setting>
    <Setting Title="Height" Name="SmallProductImageHeight" Type="TextBox">
      <Value>177</Value>
    </Setting>
  </SettingSection>
  <!-- Продукт.Самая маленькая фотография -->
  <SettingSection Title="SectionXSmallProductImages">
    <Setting Title="Width" Name="XSmallProductImageWidth" Type="TextBox">
      <Value>80</Value>
    </Setting>
    <Setting Title="Height" Name="XSmallProductImageHeight" Type="TextBox">
      <Value>80</Value>
    </Setting>
  </SettingSection>
  <!-- Категория.Большая фотография -->
  <SettingSection Title="SectionBigCategoryImages">
    <Setting Title="Width" Name="BigCategoryImageWidth" Type="TextBox">
      <Value>740</Value>
    </Setting>
    <Setting Title="Height" Name="BigCategoryImageHeight" Type="TextBox">
      <Value>318</Value>
    </Setting>
  </SettingSection>
  <!-- Категория.Маленькая фотография -->
  <SettingSection Title="SectionSmallCategoryImages">
    <Setting Title="Width" Name="SmallCategoryImageWidth" Type="TextBox">
      <Value>150</Value>
    </Setting>
    <Setting Title="Height" Name="SmallCategoryImageHeight" Type="TextBox">
      <Value>150</Value>
    </Setting>
  </SettingSection>
  <!-- Изображение новости -->
  <SettingSection Title="SectionNewsPhotos">
    <Setting Title="Width" Name="NewsImageWidth" Type="TextBox">
      <Value>140</Value>
    </Setting>
    <Setting Title="Height" Name="NewsImageHeight" Type="TextBox">
      <Value>140</Value>
    </Setting>
  </SettingSection>
  <!-- Изображения в карусели на главной странице -->
  <SettingSection Title="SectionCarouselPhotos">
    <Setting Title="Width" Name="CarouselBigWidth" Type="TextBox">
      <Value>0</Value>
    </Setting>
    <Setting Title="Height" Name="CarouselBigHeight" Type="TextBox">
      <Value>0</Value>
    </Setting>
  </SettingSection>
  <!-- Иконки для оплаты -->
  <SettingSection Title="SectionPaymentIcons">
    <Setting Title="Width" Name="PaymentIconWidth" Type="TextBox">
      <Value>60</Value>
    </Setting>
    <Setting Title="Height" Name="PaymentIconHeight" Type="TextBox">
      <Value>40</Value>
    </Setting>
  </SettingSection>
  <!-- Иконки для доставки -->
  <SettingSection Title="SectionShippingIcons">
    <Setting Title="Width" Name="ShippingIconWidth" Type="TextBox">
      <Value>60</Value>
    </Setting>
    <Setting Title="Height" Name="ShippingIconHeight" Type="TextBox">
      <Value>40</Value>
    </Setting>
  </SettingSection>
  <!-- Настройки по умолчанию -->
  <SettingSection Title="SectionDesignTransformer" Hidden="true">
    <Setting Name="Theme" Type="TextBox">
      <Value>_none</Value>
    </Setting>
    <Setting Name="ColorScheme" Type="TextBox">
      <Value>blue</Value>
    </Setting>
    <Setting Name="BackGround" Type="TextBox">
      <Value>waves3</Value>
    </Setting>
  </SettingSection>
</Settings>